:root {
  --primary-color: #731641;
  --seconday-color: #077f8c;
  --tertiaty-color: #28bbde; /*usado en los botones*/
}
body {
  margin: 0px;
}

/*Nos estamos basando en el estilo BEM
Bloque
Elemento
Modificar
*/

/*Flexbox*/
.container {
  display: flex;
  padding: 10px 30px; /*arriba derecha abajo izquierda*/
  margin: 0px;
}
.row {
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.wrap {
  flex-flow: column wrap;
}
.center {
  align-items: center;
}
.center-content{
  align-content: center;
}

.center-line {
  justify-content: center;
}
.evenly {
  justify-content: space-evenly;
}
.item-center{
  align-self: center;
}
/*Fondos*/
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--seconday-color);
}

.bg-tertiaty {
  background-color: var(--tertiaty-color);
}
.bg-gris{
background-color: gray;
}

/*pading*/
.pr-1 {
  padding-right: 5px;
}
.pr-2 {
  padding-right: 10px;
}
.pr-3 {
  padding-right: 15px;
}
.pr-4 {
  padding-right: 30px;
}

.pl-1 {
  padding-left: 5px;
}
.pl-2 {
  padding-left: 10px;
}
.pl-3 {
  padding-left: 15px;
}
.pl-4 {
  padding-left: 30px;
}
.pb-1 {
  padding-bottom: 5px;
}
.pb-2 {
  padding-bottom: 10px;
}
.pb-3 {
  padding-bottom: 15px;
}
.pb-4 {
  padding-bottom: 30px;
}

.pt-1 {
  padding-top: 5px;
}
.pt-2 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 15px;
}
.pt-4 {
  padding-top: 30px;
}

.pb-5 {
  padding-bottom: 45px;
}
.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}



/*margenes*/
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}
.mx-5 {
  margin-left: 30px;
  margin-right: 30px;
}


/*texto*/
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.text-bold{
font-weight: bold;
}
.text-mayus{
  text-transform: uppercase;
}
.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
}
.titulo-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.subtitulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.subtitulo-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.parrafo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

/*botones*/
.btn {
  display: block;
  width: 100px !important;
  height: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.btn-primary {
  background-color: var(--tertiaty-color);
}


/*clases particulares*/
.size-60 {
  height: 50vh;
}

.size-30 {
  height: 35vh;
}
.size-10 {
  height: 5vh;
}
.size-40{
  height: 40vh;
}

.br-10 {
  border-radius: 80px;
  box-shadow: 2px 2px 5px #000000;
}

.subrayar{
  border-color: gray;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.container-center{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.center-img{
display: block;
margin: auto;
}

ul li{
  text-decoration: none;
  list-style: none;
  padding-bottom: 15px;
}
/*máximo de anchura*/
.max-50 {
  max-width: 500px;
}
