:root {
  --primary-color: #731641;
  --seconday-color: #077f8c;
  --tertiaty-color: #28bbde; /*usado en los botones*/
}
body {
  margin: 0px;
}

/*Nos estamos basando en el estilo BEM
Bloque
Elemento
Modificar
*/

/*Flexbox*/
.container {
  display: flex;
  padding: 10px 30px; /*arriba derecha abajo izquierda*/
  margin: 0px;
}
.row {
  flex-direction: row;
}

.center {
  align-items: center;
}

.center-line {
  justify-content: center;
}



/*Fondos*/
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--seconday-color);
}

.bg-tertiaty {
  background-color: var(--tertiaty-color);
}

/*pading*/
.pr-1 {
  padding-right: 5px;
}
.pr-2 {
  padding-right: 10px;
}
.pr-3 {
  padding-right: 15px;
}
.pr-4 {
  padding-right: 30px;
}

.pl-1 {
  padding-left: 5px;
}
.pl-2 {
  padding-left:  10px;
}
.pl-3 {
  padding-left: 15px;
}
.pl-4 {
  padding-left: 30px;
}
.px-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.px-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.px-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*margenes*/
.mx-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mx-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mx-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mx-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*texto*/
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
/*clases particulares*/
.size-60 {
  height: 25rem;
}

.size-30 {
  height: 30%;
}
/*máximo de anchura*/
.max-50 {
  max-width: 500px;
}
